
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family:'Poppins';
    display: block;
    margin: 0;
    padding: 0;

}
.navbar
{
padding: 0 0 4.5rem;

}
.navbar-brand
{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 2.5rem;
    font-weight: bold;
    font-family:'Poppins'
}
.nav-link
{  
font-weight: 500;
font-size: 18px;
line-height: 123.5%;
color: rgba(128, 0, 128, 0.25);
margin-top:15px ;
}
.nav-item
{   
     padding: 0 18px;
}



/* Second page*/
.your{

  font-family: 'Poppins';
  font-weight: 700;
  font-size: 22px;
  
  color: #800080;
  
  
}
.ref
{
  height: 50px;
  width: 150px;
 
  margin-top: 10px;
  border-radius: 10px;
  padding: 11px ;
  
}
.code{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.75em;
  color: #000000;
  font-family: 'Poppins';

  
}

.wallet1
{
  
  width: 200px;
  height: 100px;
  border-radius: 25px;
  box-shadow: 0px 2px 0px 2px rgb(243, 242, 242);
  line-height: 1.5rem;
  margin-left: 5rem;
 
  

}
.balance
{
  position: absolute;
  font-family: 'Poppins';
font-weight: 700;
font-size: 20px;
color: #800080;
margin-left: 20px;
margin-top: 20px;
}
.rupees
{
  

font-family: 'Poppins';
position: absolute;
font-weight: 700;
font-size: 20px;
color: #000000;
margin-top: 25px;
margin-left: 20px;
}
.codes
{
 
  padding: 5% 13%;
}

.cards
{
  padding: 0% 13%;
}
.text
{
font-family: 'Poppins';
font-weight: 600;
font-size: 20px;
color: #800080;

}
.friends
{
width: 358px;
height: 228px;
background: linear-gradient(270deg, #800080 0%, #FF864C 100%);
border-radius: 20px;

margin-left: 10px;

}
.last
{
    font-family: 'Poppins';
font-weight: 700;
font-size: 20px;
margin-top: 40px;
color: #800080;
}
.goback
{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
color: #800080;
display: none;
cursor: pointer;
}
.name{
  
font-family: 'Poppins';
position: absolute;
margin-top: 20px;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
margin-left: 10px;;

}
.date
{
  font-family: 'Poppins';
  position: absolute;
  margin-top: 20px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
margin-left: 10px;
}
.courses
{
  margin-left: 10px;
  font-family: 'Poppins';
font-weight: 500;
font-size: 16px;
line-height: 21px;
position: absolute;
margin-top: 55px;
color: #FFFFFF;
}
.end{
 font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
position: absolute;
margin-left: 10px;
margin-top: 2px;
}
.values{
font-family: 'Poppins';
font-weight: 400;
font-size: 15px;
color: #FFFFFF;
border-radius: 27px;
border: 2px solid rgb(210, 204, 204);
padding:8px;
margin:5px;
}
.skills{
  display: flex;
  margin-top: 5rem;
  flex-wrap: wrap;
}
@media (max-width:768px) {
  .goback{
    display: contents;
  }
  .wallet1{
    margin-left:0rem;
  }
}
@media (max-width:1400px) {
  .values{
    font-size: 13px;
  }
  .end{
    font-size: 18px;
  }
  .wallet1{
    margin-left:4rem;
  }
}
@media (max-width:1290px) {
  .values{
    font-size: 10px;
  }
  .end{
    margin-top:10px;
    font-size: 15px;
  }
}
@media (max-width:1240px) {
  .wallet1{
    margin-left:2rem;
  }
}
@media (max-width:1143px) {
  .values{
    font-size: 9px;
    padding:6px;
  }
  .end{
    margin-top:10px;
    font-size: 13px;
  }
  .date{
    margin-left:-10px;
  }
  .wallet1{
    margin-left:1rem;
  }
}
@media (max-width:1010px) {
  .values{
    font-size: 9px;
    padding:5px;
  }
  .end{
    margin-top:10px;
    font-size: 13px;
  }
  .wallet1{
    margin-left:0rem;
  }
}
@media (max-width:991px){
  .values{
    font-size: 15px;
    padding:8px;
  }
  .end{
    margin-top:20px;
    font-size: 20px;
  }
 .friends{
  margin-bottom:10px;
 }
 .wallet1{
  margin-left:2rem;
 }
}
@media (max-width:850px)
{
  .wallet1{
    margin-left:0.5rem;
  }
}
@media (max-width:760px)
{
  .wallet1{
    margin-left:-0.8rem;
  }
}

@media (max-width:675px)
{
  .wallet1{
    margin-left:-2rem;
  }
  .end{
    margin-top:5px;
  }
}
@media (max-width:620px)
{
  .wallet1{
    margin-left:-3rem;
  }
  .end{
    margin-top:5px;
  }
}
@media (max-width:520px)
{
  .wallet1{
    margin-left:-4rem;
  }
  .end{
    margin-top:5px;
  }
  .your{
    font-size:18px;
  }
}
@media (max-width:460px)
{
  .wallet1{
    margin-left:-4rem;
  }
  .end{
    margin-top:5px;
  }
  .your{
    font-size:16px;
  }
  .code{
    font-size: 14px;
  }
}
@media (max-width:430px)
{
  .wallet1{
    margin-left:-4rem;
    width:180px
  }
  .balance{
    font-size:18px
  }
  .rupees{
    font-size:16px;
  }
}
@media (max-width:412px)
{
  .wallet1{
    margin-left:-2rem;
    width:140px;
    height:90px;
  }
  .balance{
    font-size:14px
  }
  .rupees{
    font-size:14px;
  }
}
@media (max-width:412px)
{
  .values{
    font-size: 13px;
    padding:7px;
  }
  .end{
    margin-top:10px;
    font-size: 20px;
  }
}